@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f172a;
}

/* Custom styling for react-multi-select-component */
.rmsc {
  --rmsc-main: #4285f4;
  --rmsc-hover: #2f3c4e !important;
  --rmsc-selected: #2c3849 !important;
  --rmsc-border: #4b5563 !important;
  --rmsc-gray: #94a3b8 !important;
  --rmsc-bg: #334155 !important;
  --rmsc-p: 10px !important; /* Spacing */
  --rmsc-radius: 8px !important; /* Radius */
  --rmsc-h: 40px !important; /* Height */
}
